@model IEnumerable<InAndOut.Models.Expense>
@{
    ViewData["Title"] = "Expenses";
}

<div class="container p-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Expenses</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn-primary btn" asp-action="Create">Add an expense</a>
        </div>
    </div>
    <br />

    @if(Model.Count() > 0)
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var expense in Model)
                {
                    <tr>
                        <td>@expense.Name</td>
                        <td>$@expense.Price</td>
                        <td>
                            <div class="col-6 text-right">
                                <a asp-action="Update" asp-route-id="@expense.Id" class="btn-info btn">Update</a>
                                <a asp-action="Delete" asp-route-id="@expense.Id" class="btn-danger btn">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>